<!--<div *ngIf='issignedin'>
    Get Your Parking
</div>
<div *ngIf='!issignedin'>
    <button (click)="signout()">Signout</button>
</div>-->
<md-toolbar color="primary" style="background-color: #79779c;">
<span>Get Your Parking</span>
<span class="example-spacer"></span>
<button md-raised-button>
    <md-icon class="example-icon">rowing</md-icon>
</button>
<a md-raised-button routerLink=".">Signin</a>
<!--<md-toolbar-row>
    <span>Get Your Parking</span>
    <span class="example-spacer"></span>
    <span mdTooltip="Tooltip!">
    <md-icon class="example-icon">keyboard_tab</md-icon>
    </span>
    <a md-button routerLink="." mdTooltip="Tooltip!">Signin</a>
  </md-toolbar-row>-->
</md-toolbar>
